@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif&display=swap');

$white: #ffffff;
$black: #000000;
$light_gray: #F9F8F8;
$dark_gray: #656565;
$light_blue: #CCE0FF;
$dark_blue: #0062FF;
$a_link: rgba(0, 98, 255, 0.4);
$a_hover: rgba(0, 98, 255, 0.7);
$font_serif: 'IBM Plex Serif', serif;
$font_sans: 'IBM Plex Sans', sans-serif;

body {
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: $font-sans;
}

.page-wrapper {
	margin: 0 auto;
	flex: 1 0 auto;
}

.intro {
	margin: 0 auto;
	background-color: $light_gray;
	padding: 1rem 1rem 1rem 2rem;
	font-family: $font_serif;
	font-size: 1rem;
}

.summary{
	font-family: $font-sans;
}

.sidebar {
	background-color: $light_gray;
	padding: 1.5rem 1.5rem 1.5rem .5rem;
	margin-bottom: 3rem;

	h3 {
		font-family: $font_serif;
		font-size: 2.5em;
		margin-bottom: 0;
	}

	.design-selection, .design-archives, .zen-resources {
		padding-left: 1rem;
		border-left: 3px solid $dark_blue;
	}

	ul {
		list-style-type: none;
		padding: 0;
		font-size: 1.6rem;
		margin-top: 1rem;
	}
}

header {
	h1 {
		font-size: 5rem;
		line-height: 95%;
		margin-bottom: 1rem;
		margin-top: 1.5rem;
	}
}

h2 {
	font-size: 2.5rem;
	font-style: italic;
	margin-top: 0;

	abbr {
		color: $white;
		font-weight: bold;
		background: $dark_blue;
		padding: 0 .8rem 0 .4rem;
		margin-left: .5rem;
	}
}

abbr {
	text-decoration: none;
}

.summary {
	color: $dark_gray;
	font-size: 1.75em;
}

.preamble {
	background: url(mountains400.jpg) no-repeat top center;
	background-size: contain;
	padding-top: 40%;
	margin-left: -50px;
	margin-right: -45px;

	h3 {
		font-size: 2.5em;
		padding-right: 30px;
		padding-bottom: 20px;
		margin: 0;
		padding-left: 30px;
		border-left: 3px solid $dark_blue;
	}

	p {
		font-size: 1.7em;
		padding-right: 30px;
		padding-bottom: 20px;
		margin: 0;
		padding-left: 30px;
		border-left: 3px solid $dark_blue;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.intro, .main {
	a:link {
		color: $a_link;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover{
		color: $a_hover;
	}

	a:active{
		color: $a_hover;
	}

	a:visited{
		color: $a_hover;
	}
}

.main {
	padding-left: 40px;
	padding-right: 40px;

	h3 {
		font-family: $font_serif;
		display: table;
		background-color: $dark_blue;
		line-height: 110%;
		color: $white;
		padding: 20px;
		font-size: 2.3em;
	}
	p {
		font-size: 1.6em;
		padding-bottom: 30px;
		margin-block-start: 0px; //this is to make sure that the top of both columns match ~ Brad
	}
}

.benefits {
	background: url(building400.jpg) no-repeat top center;
	background-size: contain;
	padding-top: 33%;
	margin-top: 20px;
	margin-left: -50px;
	margin-right: -45px;

	h3 {
		margin-left: 40px;
		margin-right: 40px;
	}

	p {
		margin-left: 40px;
		margin-right: 40px;
	}
}

.participation {
	background: url(jellyfish320.jpg) no-repeat top left;
	background-size: 80%;
	padding-top: 45%;
	margin-top: 15px;
}


.requirements {
	background: url(skyscraper320.jpg) no-repeat top left;
	background-size: 80%;
	padding-top: 45%;
	margin-top: 15px;
}

h3.select{
	font-family: $font_serif;
}

li a:first-child{
	font-style: italic;
}
	
li {
	a:link{
		color: $a_hover;
		text-decoration: none;
	}
	
	a:hover{
		color: $dark_blue;
	}

	a:active{
		color: $a_hover;
	}

	a:visited{
		color: $dark_blue;
	}
}

footer {
	background-color: $dark_gray;
	position: absolute;
	display: flex;
	justify-content: space-around;
	padding: 15px 0 15px 50px;
	max-width: 1440px;
	bottom: 0;
	left:0;
	right: 0;
	margin: auto;
}

.main footer{
	a:link {
		color: $white;
		font-size: 1.6em;
		text-decoration: none;
	}

	a:hover{
		color: $light_blue;
	}

	a:active{
		color: $a_hover;
	}

	a:visited{
		color: $light_blue;
	}
}

// css transitions and animations
.preamble {
	animation: fadeIn 5s ;
}
@keyframes fadeIn {
    from {opacity: 0.1;}
    to {opacity: 1;}
  }

// insert svg content for external links
a.designer-name {
 	&::after{
		content: url(external-link.svg);
		padding-left: 3px;
	}
}

// large screen
@media only screen and (min-width: 48em) {
	.intro, .main, .sidebar {
		max-width: 1440px;
	  }

	.preamble {
		background: url(mountains1440.jpg) no-repeat top center;
		background-size: contain;
		padding-top: 35%;
		margin-top: 20px;
		margin-left: -60px;
		margin-right: -60px;

		h3 {
			margin-left: 60px;
			margin-right: 60px;
		}

		p {
			margin-left: 60px;
			margin-right: 60px;
		}
	}

	.benefits {
		background: url(building1440.jpg) no-repeat top center;
		background-size: contain;
		padding-top: 32%;
		margin-top: 20px;
		margin-left: -60px;
		margin-right: -60px;
		column-count: 2;
		column-gap: 24px;

		p {
			padding-bottom: 80px;
			margin-left: 60px;
			margin-right: 60px;
		}

		h3 {
			margin-left: 60px;
			margin-right: 60px;
			column-span: all;
		}
	}

	.participation {
		background: url(jellyfish1320.jpg) no-repeat top left;
		background-size: 75%;
		padding-top: 45%;
		margin-top: 20px;
		column-count: 2;
		column-gap: 24px;

		h3 {
			column-span: all;
		}
	}

	.requirements {
		background: url(skyscraper1320.jpg) no-repeat top left;
		background-size: 75%;
		padding-top: 45%;
		margin-top: 20px;
		column-count: 2;
		column-gap: 24px;

		h3 {
			column-span: all;
		}

		p {
			&:last-child {
				margin-top: 30px;
				column-span: all;
				padding-bottom: 0;
			}
		}
	}

	.explanation {
		column-count: 2;
		column-gap: 23px;

		h3 {
			column-span: all;
		}
	}

	.main {
		padding-left: 60px;
		padding-right: 60px;
		max-width: 1440px;
	}

	.intro {
		padding-left: 60px;
		padding-right: 60px;
	}

	.sidebar {
		padding-left: 60px;
		padding-right: 60px;
	}

}